.product {
  display: flex;
  height: 140px;
  font-size: 20px;
  font-family:cursive;
  font-style: normal;
  font-variant: normal;
  line-height: 23px; 
}
.img {
  width: 120px;
  height: auto;
  margin: 10px;
  border-radius: 50%;
}
.productList {
  background-color: rgb(255, 255, 255);
  width: 550px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  color: rgb(88, 62, 65);
  border-radius: 40px;
}
.productName {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.productName h3 {
  font-size: 25px;
  margin: 0;
}
.moreInfoBtn {
  font-size: 14px;
  border: none;
  background-color: inherit;
  color: indianred;
  cursor: pointer;
  font-family:cursive;
  font-style: normal;
  font-variant: normal;
  line-height: 23px; 
  width: 130px;
}
.moreInfoBtn:hover {
  text-decoration: underline;
}
.productPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.productPrice span {
  font-weight: 800;
}
.productPrice button {
  background-color: rgb(220, 53, 69);
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  font-family:cursive;
}
.productPrice button:hover {
  background-color: rgb(88, 62, 65);
}