.resultContainer {
    display: flex;
    width: 100%;
}
.producterContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
    margin: 10px auto;
}
.shoppingCardContainer {
    margin-top: 40px;
    width: 30%;
}