.shoppingCardContainer {
  margin-top: 40px;
}
.shoppingCardContainer p {
  font-size: 15px;
  color: rgb(220, 53, 69);
  font-family:cursive;
  font-style: normal;
  font-variant: normal;
  line-height: 23px; 
  text-align: center;
}
.shoppingCardContainer h3 {
  font-size: 30px;
  font-family:cursive;
  font-style: normal;
  font-variant: normal;
  line-height: 23px; 
  color: rgb(88, 62, 65);
  text-align: center;
}
.productContainer {
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
}
.productContainer img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
.productName {
  width: 200px;
  padding-left: 20px;
}
.productContainer .productName h2{
  font-size: 18px;
  color: rgb(220, 53, 69);
  font-family:cursive;
  font-style: normal;
  font-variant: normal;
  line-height: 23px; 
}
.productName p{
  font-weight: 500;
  color: rgb(88, 62, 65);
}
.productName span {
  font-weight: 800;
}
button {
  border: none;
  background-color: inherit;
  width: 70px;
  cursor: pointer;
  font-size: 25px;
  color: rgb(88, 62, 65);
  border-radius: 20px;
}
 button i:hover{
  color: rgb(220, 53, 69);
}
.total{
  font-family:cursive;
  font-style: normal;
  font-variant: normal;
  line-height: 23px; 
}
.total p{
  font-size: 20px;
  font-weight: 800;
  color: rgb(220, 53, 69);
}
.total span{
  font-size: 18px;
  color: rgb(88, 62, 65);
}