.Navigation {
  background-color: rgb(0, 40, 57);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 70%;
  margin: 0 auto;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  gap: 20px;
  color: rgb(220, 53, 69);
}
.searchBar {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.searchBar input {
  width: 400px;
  height: 40px;
  padding: 3px 3px 3px 10px;
  border-radius: 20px;
  font-size: 15px;
}
.searchBar button {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: rgb(220, 53, 69);
  color: wheat;
  font-size: 20px;
}

.producter-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px;
  margin: 10px auto;
}
.product {
  display: flex;
  height: 140px;
}
.product-list {
  background-color: rgb(255, 255, 255);
  width: 480px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  color: rgb(0, 40, 57);
  border-radius: 40px;
}
.img {
  width: 120px;
  height: auto;
  margin: 10px;
  border-radius: 50%;
}
.product-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.product-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.product-name h3 {
  font-size: 25px;
  margin: 0;
}
.more {
  font-size: 15px;
  text-decoration: none;
  color: rgb(220, 53, 69);
}
.product-price span {
  font-weight: 800;
}
.product-price button {
  background-color: rgb(220, 53, 69);
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 20px;
}

/* -----*/
.moreInfo {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(0, 40, 57);
}
.moreInfo span {
  color: rgb(220, 53, 69);
  font-size: 25px;
  font-weight: 700;
}
.moreInfo img {
  width: 200px;
}
.moreInfo button {
  background-color: rgb(220, 53, 69);
  width: 100px;
  height: 40px;
  color: white;
}
